* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #240A34;
}

.explainOne {
    position: absolute;
    top: 40%;
}

.intro h1 {
    margin-top: 35px;
    position: absolute;
    left: 42%;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px ;
    color: #EABE6C;
    animation: slide-up3 4s;
}

.button button {
    position: absolute;
    top: 10%;
    left: 45%;
    border-radius: 12px;
    font-size: 25px;
    cursor: pointer;
    padding: 20px;
    background-color: #EABE6C;
    color: #FFEDD8;
    font-family: "Lucida Console", "Courier New", monospace;
    transition-duration: 0.4s;
    animation: slide-up1 3s;
}

.button button:hover {
    background-color: #FFEDD8;
    color: #EABE6C;
}

.intro p {
    color: #EABE6C;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    top: 20%;
    left: 43%;
    animation: slide-up2 2s;
}

@keyframes slide-up1 {
    from {top: -100px;}
    to {top: 99px;}
}
@keyframes slide-up2 {
    from {top: -100px;}
    to {top: 198px;}
}
@keyframes slide-up3 {
    from {top: -100px;}
    to {top: 0px;}
}